shamefully-hoist=true
public-hoist-pattern[]=webpack
public-hoist-pattern[]=webpack-*
public-hoist-pattern[]=@webpack/*
public-hoist-pattern[]=tapable
public-hoist-pattern[]=webpack-dev-middleware
public-hoist-pattern[]=webpack-dev-server
public-hoist-pattern[]=webpack-sources
public-hoist-pattern[]=esbuild
public-hoist-pattern[]=terser-webpack-plugin
public-hoist-pattern[]=html-webpack-plugin
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=F25C6CAA-B1BA-4A5F-A13B-FDA59CAA408F
